<!DOCTYPE html>
<html>
  <head>
    <title>Basic</title>

    <meta name="description" content="入会フォームです">
    <meta name="keywords" content="会員,登録">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- googleフォント -->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

  </head>

  <body>

    <%= yield %>


  </body>
</html>
